#buttons{
    display: none;
}

#buttons a, #buttons a:visited {
    border: 1px solid white;
    color: #fff;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    
}
#buttons a:hover {
    background-color: #FF00FF;
}
#toolbar {
    display: flex;
}


#hamburger a, #hamburger a:visited {
    border: 1px solid white;
    color: #fff;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    
}
#hamburger a:hover {
    background-color: #0011ff;
}
